body{
font-family: Segoe UI;
}



.window{
    background-color: #6d5ec2;
    width: 270px;
    height: 523px;
}


.onglets{
    display: flex;
    flex-direction: row;
    background-color: #434058;
    width: 270px;
    height: 50px;
}

.onglet{
    font-size: 14px;
    color:white;
    width: 90px;
    height: 50px;
    background-color: #9b71ce;
    text-align: center;
}




::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

form {
    display: flex;
  padding: 5px;

 
}

.form input {
    color: white;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  margin-bottom: 20px;
}

.form button {
  background: transparent;
  border: 0;
  color: #fff;
}


.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #ffffff;background: #5a4080; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none;  color: #5a4080 !important; background: #fff; }
        .nav-tabs > li > a::after { content: ""; background: #5a4080; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #5a4080 none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px;height: 468px;}
.nav-tabs > li  {width: 33%;; text-align:center;}
.card {background-color: #6d5ec2; }

.col-3 > span{
    font-size: 12px;
    color: white;
}



.delete{
    height: 12px;
    margin-top: -2px;
    margin-left: -40px;
}

.add{
    margin-top: 11px;
    margin-left: -10px;
    height: 39px;
}

.call{
    height: 63px;
}


.clavier{
    margin-left: 30px;
    width: 100%;
   
}

.test{
    border-bottom: 2px solid white;
    
}

